:root {
    --body-bg: #27292e;
    --font-gray-1: #d4d4d5;
    --font-gray-2: #9c9c9c;
    --font-gray-3: #84898e;
    --font-white: #fff;
    --font-black: #27292e;
    --primary: #e83b35;
    --card-bg: #35363b;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #f1f1f1;
    border-radius: 7px;
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--font-gray-3);
    background-color: var(--primary);
    border-radius: 7px;
}
